body{
    max-width:1440px;
    height: 100vh;
    background-color: hsl(0,0%,8%);
     font-family: "Inter", sans-serif;
     font-weight: 400,600,700;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
    
}

.card{
    background-color:  hsl(0, 0%, 12%);
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;

}
.profile-image{
    width: 100px;
    /* height: 150px; */
    border-radius: 50%;
   
}
h1{
    margin-bottom: 0;
}
.address{
    margin-top:2px;
    font-size: 16px;
    color: hsl(75, 94%, 57%);
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.social-links a{
    text-align: center;
    align-items: center;
    width:300px;
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
   color: white;
   background-color:hsl(0, 0%, 20%);
   padding: 10px;
}